.footer{
    display: none;
    background-color: white;
    position: absolute;
    bottom: 0;

}
@media  only screen and (max-width:600px) {
    .footer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .footerarea{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 10px;
        width: 100%;
    }
    .footerlogotitle{
        margin:  10px auto 10px;
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top:20px;
        gap: 10px;
    }
    
    .footermenu,.footercontacts{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    .footermenu>h3,.footercontacts>h3{
        text-decoration: underline #5098e9;
    }
    .logospan{
        color: #5098e9;
    }
    .footerlink,.footercontact{
        font-weight: 200;
        margin-top: -8px;
        color: black;
    }
    .footersocials{
        display: flex;
        gap: 35px;
        margin:  0 auto 10px;
        
    }
    .footersocial{
        color: black;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background-color: #5098e9;
        display: flex;
        align-items: center;


    }
    .footerlogout{
        width: 100px;
        height: 40px;
        background-color: #5098e9;
        text-align: center;
        border-radius: 30px;
        border: #9195a0 1px solid;
        
        font-size: medium;
        cursor: pointer;
        margin:  0 auto 20px;
    }
}
@media  only screen and (max-width:480px), (max-width:412px),(max-width:375px),(max-width:320px){
    

}
@media  only screen and (max-width:320px){
    .footer{
       
        background-color: white;
    }
}

