.details{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 20px;
}
   
.detailscover{
    border: 1px #9195a0 solid;    
    padding: 20px;
    border-radius: 10px;
}


.topdetails{
    display: flex;
    gap: 20px;
    align-items: center;

}

.companydetails {
    text-align: start;
    display: flex;
    gap: 10px;
}

.descresqua{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 20px;
    
      
    
}
.jobdesc>h3{
    text-align: start;
}
.applybttn,.savebttn{
    width: 200px;
    height: 40px;
    background-color: #5098e9;
    border-radius: 25px;
    border: 1px #9195a0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: antiquewhite;
    margin-top: 10px;
    font-size: 18px;
}
.savebttn{
    background-color: white;
    color: #5098e9;
}
.applysave{
    display: flex;
    gap: 20px;
}
.applybttn:hover{
    border: 3px #9195a0 solid;
}