.skillformarea{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(0, 0,0,0.5);


}
.skillformtab{
    background-color:white;
    margin: 130px auto;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;

}
.skillformtab>h3{
    text-decoration: underline;
    text-decoration-color: #5098e9;
}
.skillform{
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
.skillsinput{
    border-radius: 10px;
    border: #9195a0 1px solid;
    height: 30px;
}
